@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

.input {
    width:25%;
}

body {
    background-color: #fffff0;
}

.navbar {
    background-color: #2a75bb;
}

.navigation-buttons {
    margin:15px;
}

.footer {
    background-color: #ffcb05;
}

.list-group-item {
    cursor: pointer;
  }

.modal-card-head {
    margin:200px;
    text-align: center;
}

.modal-content {
    text-align: center;
    font-size: x-large;
}

.column {
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.box {
    box-shadow: none;
    background-color: ivory;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: larger;
}

#pokelogo {
    width: 160px;
    height: 50px;
    opacity: 0.6;
}

#pokelist {
    opacity: 0.4;
}

.hide {
    display: none;
}