@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

.block:not(:last-child) {
    margin-bottom: 1.5rem;
}

.input {
    width:25%;
}

body {
    background-color: #fffff0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #2a75bb;
}

#titleBox{
    display: flex;
    flex-wrap: wrap;
    align-content: center
}

#navTitle {
    display: flex;
    align-items: center;
    border:solid#ffcb05;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    font-size: x-large;
    color: #ffcb05;
}

#pokelogo {
    display: flex;
    width: 300px;
    height: 200px;
    flex-wrap: wrap;
}

#pokegologo {
    display: flex;
    width: 198px;
    height: 124px;
    margin-right: 50px;
    margin-left: 50px;
    flex-direction: row;
    flex-wrap: wrap;
}

.navigation-buttons {
    margin:15px;
}

.footer {
    background-color: #ffcb05;
}

.list-group-item {
    cursor: pointer;
  }
.modal-background {
    display: flex;
}
.modal-card-head {
    display: flex;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    background-color: #2a75bb;
    flex-grow: 0;
    overflow-y: none;
    overflow-x: none;
    justify-content: center;
}

.modal-card-body {
    display: flex;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    background-color: #fff;
    flex-grow: 0;
    overflow-y: none;
    overflow-x: none;
    justify-content: center;
}
.modal-card-foot {
    display: flex;
    flex-wrap: wrap;
    -webkit-overflow-scrolling: touch;
    background-color: #ffcb05;
    flex-grow: 0;
    overflow-y: none;
    overflow-x: none;
    justify-content: center;
}

.modal-content {
    flex-grow: 0;
    overflow-y: none;
    overflow-x: none;
    align-items: center;
    text-align: center;
    font-size: x-large;
}

.column {
    margin: 20px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.box {
    box-shadow: none;
    background-color: ivory;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

h3 {
    font-size: larger;
}

.hide {
    display: none;
}

#sprite {
   width: 200px;
   height: 200px; 
}
#oak{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}

#pokedex{
    display: flex;
    justify-content: center;
    width: 200px;
    height: 200px;
}

#flavor{
    margin-top: 50px;
}

.button {
    background-color: #2a75bb;
    border:solid#ffcb05;
    color: #ffcb05;
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
    align-items: center;
}
#evoButton {
    background-color: #2a75bb;
    border:solid#ffcb05;
    color: #ffcb05;
    padding: 5px;
    border-radius: 10px;
    margin: 3px;
    align-items: center;
}